*{
    margin:0px;
    padding:0px;
}
body {
    background-color: black;
    font-family: Arial, sans-serif;
}
.continer{
   display:flex;

}
.box-1{
    flex:1;
    height:1000px;
    margin:10px;
}
.box-2 {
    flex:1;
    height:1000px;
    margin:10px;
}
.box-1 img {
    position:relative;
    top:15rem;
    left:10rem;
    height:40rem;
}
.box-2 p{
    color:white;
    font-size: 5rem;
    font-weight:800;
    position:relative;
    top:15rem;
}
.box-2 :nth-child(2){
    font-size:2rem;
    position:relative;
    top:18rem;
}
.button-1 {
    height:50px;
    width:380px;
    font-size: 1.2rem;
    border-radius: 50px;
    color:rgb(68,68,68);
    margin-bottom: 10px;
    border:none;
}
.button-2{
    height:50px;
    width:380px;
    font-size:1.2rem;
    border-radius:50px;
    font-weight: 600;
    border:none;
}
.button-3{
    height:50px;
    width:380px;
    font-size:1.2rem;
    border-radius:50px;
    font-weight: 600;
    border:none;
    color:white;
    background-color: #1cb1ec;
}
.or {
    font-size:30px;
}
.text {
    color:white;
    display:flex;
    align-items: center;
    font-size: 15px;
    height:40px;
    width:440px;
}
.last{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
}
.button-4{
    margin-top:30px;
    flex:1;
    display:flex;
    align-items: center;
}
.butn-4{
    height: 50px;
    width:380px;
    font-size:1.2rem;
    border-radius: 50px;
    font-weight: 600;
    color:#1cb1ec;
    background-color: black;
    border:1px solid white;
}
.text-2{
    flex:1;
    color:white;
    height:20px;
    width:500px;
    font-size:30px;
    font-weight:700;
}
.footer{
    display:flex;
    justify-content: space-evenly;
}
.footer{
    font-size:15px;
    color:gray;
    margin-top: 78px;
}
.footer-2{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-2 span {
    font-size:15px;
    color:gray;
}